/*place global styles here */
html,
body {
	@apply h-full;
	@apply bg-surface-100-800-token;
}
.gradient-heading {
	@apply bg-clip-text text-transparent box-decoration-clone;
	/* Direction */
	@apply bg-gradient-to-br;
	/* Color Stops */
	@apply from-pink-400 from-50% via-pink-300 via-90%;
}